form.edit-post-form.form-horizontal(ng-submit='submit()')
	legend {{ form.header }} Post
	.form-group
		label.col-sm-1.control-label Title
		.col-sm-11
			input.form-control(
				type='text', 
				name='title', 
				ng-model='form.title', 
				value='{{ form.title }}'
			)
	.form-group
		.col-sm-offset-1.col-sm-11
			.btn-group.editControls
				button.btn.btn-default(
					type='button', 
					ng-repeat='control in editControls', 
					ng-bind-html='control.content | trustAsHtml',
					ng-click='formatText(control.role)'
				)
	.form-group
		label.col-sm-1.control-label Content
		.col-sm-11
			.form-control.content-editable-area(
				name='content', 
				contenteditable='true', 
				ng-model='form.content'
			)
	.form-group
		.col-sm-offset-1.col-sm-11
			button.btn.btn-default.btn-xs(
				type='submit'
			) {{ form.header }}
			| &nbsp;
			button.btn.btn-danger.btn-xs.delete(
				type='button', 
				ng-show='form._id', 
				ng-click='deletePost()'
			) delete
			